<main id="main" class="main">
    <div class="pagetitle">
       <h1>Subsidy Approved Quotation</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Dashboard</li>
             <ol class="breadcrumb-item active">Subsidy Approved Quotation</ol>
          </ol>
       </nav>
    </div>
    <section class="section">

       <nav class="navbar navbar-ligth bg-primary">
         <div class="container-fluid">
           <h1 style="color: aliceblue;">Subsidy Approved Quotation</h1>
           <div class="d-flex">
             <button  class="btn btn-success" (click)="clickAddEmployee()" type="button" data-bs-toggle="modal"
               data-bs-target="#exampleModal">Subsidy Approved Quotation</button>
           </div>
         </div>
       </nav>

       <table class="table mt-3">
         <thead>
           <tr>
            <th scope="col">Policy ID</th>
             <th scope="col">Farmer ID Number</th>
             <th scope="col">Farm</th>
             <th scope="col">Insurance Product</th>
             <th scope="col">Planting Window</th>
             <th scope="col">Land Size</th>
             <th scope="col"> Unit of Measure</th>

           </tr>
         </thead>
         <tbody>
           <tr *ngFor ="let row of policyData">
            <td>{{row.id}}</td>
             <td>{{row.idNumber}}</td>
             <td>{{row.farm}}</td>
             <td>{{row.insurance}}</td>
             <td>{{row.planting}}</td>
             <td>{{row.landSize}}</td>
             <td>{{row.measure}}</td>

             <td>
               <button  style="color: aliceblue;" type="button" data-bs-toggle="modal"
                 data-bs-target="#exampleModal" (click)="onEdit( row)" class="btn btn-info">Edit</button>

             </td>
           </tr>
         </tbody>

       </table>

        <!--Modal-->
       <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Subsidy Approved Quotation</h5>
               <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
               <form [formGroup]="formValue">


                 <div class="mb-3">
                   <label for="exampleInputPassword1" class="form-label">Enter Farmer ID Number</label>
                   <input type="number" formControlName="idNumber" class="form-control" id="exampleInputPassword1">
                 </div>

                 <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label"> Select Farm</label>
                  <select class="form-control" formControlName="assessor">
                    <option>Accredit</option>
                    <!-- <option>Blacklisted</option>
                    <option>Disable</option> -->
                    </select>
               </div>
               <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Select Insurance Product</label>
                <select class="form-control" formControlName="insurance">
                  <option>Accredit</option>
                  <!-- <option>Blacklisted</option>
                  <option>Disable</option> -->
                  </select>
             </div>
             <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Select Planting Window </label>
              <select class="form-control" formControlName="planting">
                <option>Accredit</option>
                <!-- <option>Blacklisted</option>
                <option>Disable</option> -->
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Enter Land Size</label>
                <input type="number" formControlName="landSize" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Select the Unit of Measure </label>
                <select class="form-control" formControlName="measure">
                  <option>Acre</option>
                   <option>Hectare</option>

                  </select>
                </div>
               </form>
             </div>
             <div class="modal-footer">
               <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               <button type="button"  *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
               <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()"
                 class="btn btn-primary">Update</button>
             </div>
           </div>
         </div>
       </div>

      </section>
  </main>

