/*custom styles*/

.en-badge-success{
  background: #0070ff;
  color: white;
  padding: 2px 13px;
  border-radius: 10px;
}
.en-badge-warning{
  background: #ff8500;
  color: white;
  padding: 2px 13px;
  border-radius: 10px;
}

.flex-centered{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.flex-right{
  display: flex;
  justify-content: end;
  gap: 10px;
}
table.table {
  border-collapse: collapse !important;
  width: 100% !important;
}

table.table th,
table.table td {
  border: 1px solid #dee2e6 !important;
  padding: 8px !important;
  vertical-align: middle;
  white-space: nowrap;
}

.table-responsive {
  overflow-x: auto;
}

thead th {
  background: #f8f9fa !important;
  font-weight: bold;
  text-align: center;
}
