<main id="main" class="main">
  <div class="pagetitle">
     <h1>Manage Role</h1>
     <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
           <li class="breadcrumb-item">Roles</li>
           <ol class="breadcrumb-item active">Role</ol>
        </ol>
     </nav>
  </div>
  <section class="section">
      <nav class="navbar navbar-ligth ">
        <div class="container">
          <div class="flex-centered">
            <button (click)="clickAddEmployee()" class="btn btn-success" type="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Add New Role</button>
          </div>
        </div>
      </nav>
       <!--search input-->
       <div class="d-flex justify-content-lg-between mt-2">
        <div class="search  ">
        <input class="form-control mt-2 mb-2 input-sm " type="text"  placeholder="Search by name" />
        </div>
        <button  class="btn btn-success btn-lg"  type="button">Export</button>
       </div>

     <table class="table table-bordered table-striped table-hover mt-3 w-100">
       <thead>
         <tr >
          <th scope="col">Organisation ID</th>
           <th scope="col">Role Name</th>
           <th scope="col">Description</th>
           <th scope="col">Status</th>
           <th scope="col">Action</th>

         </tr>
       </thead>
       <tbody>
         <tr *ngFor ="let users of users">
          <td>{{users.id}}</td>
           <td>{{users.name}}</td>
           <td>{{users.description}}</td>
           <td>{{users.select}}</td>

           <td>
             <button  style="color: aliceblue;" type="button" data-bs-toggle="modal"
               data-bs-target="#exampleModal" (click)="onEdit( users)" class="btn btn-info">Edit</button>
             <button  class="btn btn-danger mx-3">View</button>
           </td>
         </tr>
       </tbody>

     </table>

     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Role Type</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
             <form [formGroup]="formValue">
               <div class="mb-3">
                 <label for="exampleInputEmail1" class="form-label">Enter Role Name</label>
                 <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">

               </div>
               <div class="mb-3">
                 <label for="exampleInputPassword1" class="form-label">Enter Role Description</label>
                 <input type="text" formControlName="description" class="form-control" id="exampleInputPassword1">
               </div>



                <div class="mb-3">
                 <label for="exampleInputPassword1" class="form-label">Status</label>
                 <select class="form-select" formControlName="select">
                  <option>Active</option>
                     <option>Inactive</option>

                 </select>
               </div>
             </form>
           </div>
           <div class="modal-footer">
             <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             <!-- <button type="button"  *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button> -->
             <button type="button" *ngIf="showUpdate" (click)="updateUserRole()"
               class="btn btn-primary">Update</button>
           </div>
         </div>
       </div>
     </div>

    </section>
</main>
