








 <main id="main" class="main">
  <div class="pagetitle">
     <h1>Manage Organization Role</h1>
     <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
           <li class="breadcrumb-item">Dashboard</li>
           <li class="breadcrumb-item active">Manage Role</li>
        </ol>
     </nav>
  </div>
  <section class="section">
    
     <nav class="navbar navbar-ligth bg-primary">
       <div class="container">
         <div class="d-flex">
           <button  class="btn btn-success" type="button" data-bs-toggle="modal"
             data-bs-target="#exampleModal">Add New Role</button>
         </div>
       </div>
     </nav>
     
     <table class="table mt-3">
       <thead>
         <tr>
          <th scope="col">Organization ID</th>
           <th scope="col">Organization Type</th>
           <th scope="col">Organization Name</th>
           <th scope="col">Main office</th>
           <th scope="col">Official Email</th>
           <th scope="col">Email Address</th>
           <th scope="col">Phone Number</th>
           
           
           
         </tr>
       </thead>
       <tbody>
         <tr >
          <td>1</td>
           <td>Farm</td>
           <td>Coding</td>
           <td>MainOffice</td>
           <td>Email@gmail.</td>
           <td>official@email.com</td>
           <td>12233345</td>
           
           <td>
             <button  style="color: aliceblue;" type="button" data-bs-toggle="modal"
               data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
            
           </td>
         </tr>
       </tbody>
     
     </table>
     
     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Organization Type</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
             <form [formGroup]="formValue">
               <div class="mb-3">
                 <label for="exampleInputEmail1" class="form-label">Enter Organization Type</label>
                 <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
               </div>
               <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Organization Name</label>
                <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter main office address</label>
                <input type="email" formControlName="name" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Email Address</label>
                <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
        

              
             </form>
           </div>
           <div class="modal-footer">
             <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             <button type="button"  class="btn btn-primary">Add</button>
             <button type="button" 
               class="btn btn-primary">Update</button>
           </div>
         </div>
       </div>
     </div>
     
    </section>
</main>