
.info-box {
  display: flex;
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
  padding: 0.75rem;
  color: white;
}

.info-box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  font-size: 2rem;
}

.info-box-content {
  flex: 1;
  padding: 0 0.5rem;
}

.info-box-text {
  display: block;
  font-size: 0.875rem;
  white-space: nowrap;
}

.info-box-number {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
}

.bg-warning {
  background-color: #ffc107 !important;
  color: #212529 !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

