<main id="main" class="main">
   <div class="pagetitle">
      <h1>Manage Loss Assesor</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active">Manage Loss Assesor</li>
         </ol>
      </nav>
   </div>
   <section class="section">
     
      <nav class="navbar navbar-ligth ">
        <div class="container">
          <div class="d-flex">
            <button  class="btn btn-success" (click)="clickAddEmployee()" type="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Create New Loss </button>
          </div>
        </div>
      </nav>
      
      <table class="table mt-3">
        <thead>
          <tr>
           <th scope="col">Organisation ID</th>
   
            <th scope="col">Organisation</th>
            <th scope="col">User</th>
            <th scope="col">Practice Number</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
            
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let  users of lossData" >
           <td>{{ users.id}}</td>
            
            <td>{{ users.organization}}</td>
            <td>{{ users.user}}</td>
            <td>{{ users.practiceNumber}}</td>
            <td>
               {{ users.status}}
            </td>

            
            <td>
              <button  style="color: aliceblue;" (click)="onEdit( users)" type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModal"class="btn btn-warning btn-sm">Edit</button>
              
            </td>
          </tr>
        </tbody>
      
      </table>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Organisation Type</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formValue">
               


               <h3>Manage Loss Assessors</h3>

                <div class="mb-3">
                  <label  class="form-label">Select Organisation</label>
                  <input type="text" formControlName="organization" class="form-control" >
                </div>
                 <div class="mb-3">
                  <label  class="form-label">Select User</label>
                  <input type="text" formControlName="user" class="form-control" >
                </div>

               <div class="mb-3">
                 <label  class="form-label">Practice Number</label>
                 <input type="text" formControlName="practiceNumber" class="form-control" >
               </div>
               <div class="mb-3">
                  <label  class="form-label">Status</label>
                  <select class="form-control" formControlName="status">
                     <option>Acredited</option>
                    <option>Blacklisted</option>
                    <option>Disable</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()"  class="btn btn-primary">Add</button>
              <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()"
                class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
      </div>
      
     </section>
</main>