<main id="main" class="main">
   <div class="pagetitle">
      <h1>Manage Loss Assesor</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active">Manage Loss Assesor</li>
         </ol>
      </nav>
   </div>
   <section class="section">
     
      <nav class="navbar navbar-ligth bg-primary">
        <div class="container">
          <div class="d-flex">
            <button  class="btn btn-success" type="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Create New Loss </button>
          </div>
        </div>
      </nav>
      
      <table class="table mt-3">
        <thead>
          <tr>
           <th scope="col">Organization ID</th>
   
            <th scope="col">Organization</th>
            <th scope="col">User</th>
            <th scope="col">Practice Number</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
            
            
          </tr>
        </thead>
        <tbody>
          <tr >
           <td>1</td>
            
            <td>Mixed </td>
            <td>Doe</td>
            <td>34</td>
            <td>
               Accredit
            </td>

            
            <td>
              <button  style="color: aliceblue;" type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
              
            </td>
          </tr>
        </tbody>
      
      </table>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Organization Type</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formValue">
               


               <h3>Manage Loss Assessors</h3>

                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Select Organization</label>
                  <input type="text" formControlName="organization" class="form-control" id="exampleInputPassword1">
                </div>
                 <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Select User</label>
                  <input type="text" formControlName="user" class="form-control" id="exampleInputPassword1">
                </div>

               <div class="mb-3">
                 <label for="exampleInputPassword1" class="form-label">Practice Number</label>
                 <input type="text" formControlName="title" class="form-control" id="exampleInputPassword1">
               </div>
               <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Status</label>
                  <select>
                     <option>Acredited</option>
                    <option>Blacklisted</option>
                    <option>Disable</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button"  class="btn btn-primary">Add</button>
              <button type="button" 
                class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
      </div>
      
     </section>
</main>