<main id="main" class="main">
  <div class="pagetitle">
     <h1>Manage Role</h1>
     <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
           <li class="breadcrumb-item">Roles</li>
           <ol class="breadcrumb-item active">Role</ol>
        </ol>
     </nav>
  </div>
  <section class="section">
    
     <!-- <nav class="navbar navbar-ligth ">
       <div class="container">
         <h1 style="color: aliceblue;">Add New Role</h1>
         <div class="flex-centered">
           <button  class="btn btn-success" (click)="clickAddEmployee()" type="button" data-bs-toggle="modal"
             data-bs-target="#exampleModal">Add New Role</button>
         </div>
       </div>
     </nav>
      -->
      <nav class="navbar navbar-ligth ">
        <div class="container">
          <div class="flex-centered">
            <button  class="btn btn-success" type="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Add New Role</button>
          </div>
        </div>
      </nav>
       <!--search input-->
       <div class="d-flex justify-content-lg-between mt-2">
        <div class="search  ">
        <input class="form-control mt-2 mb-2 input-sm " type="text"  placeholder="Search by name" /> 
        </div>
        <button  class="btn btn-success btn-lg"  type="button">Export</button>
       </div>

       <table class="table mt-3">
        <thead>
          <tr>
           
           <th *ngFor="let col of dataTable.columns" scope="col" [class]="col.classes">{{col.label}}</th>
           
            <th class="text-center">Actions</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="roles.loading">
            <td colspan="4">
              <div class="text-center">
                <p>Loading role...</p>
              </div>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
              </div>
            </td>
          </tr>
        <tr *ngIf="roles.data.length  === 0 && !roles.loading" >
          <td colspan="3">
            <div class="text-center">
              <p>No roles found</p>
            </div>
          </td>
        </tr>
        <tr *ngFor="let dt of roles.data">
          <ng-container *ngFor="let col of dataTable.columns">
            <td [class]="col.classes" *ngIf="col.dynamic">
              {{dt[col.data]}}
            </td>
          </ng-container>
          <td class="text-center" >
            <div>
              <span *ngIf="dt.status" class="en-badge-success">Active</span>
              <span *ngIf="!dt.status" class="en-badge-warning">Inactive</span>
            </div>
          </td>
          <td>
            <div class="text-center">
              <button
                (click)="showModal(dt)"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                class="btn btn-warning btn-sm">Edit</button>
            </div>
          </td>
        </tr>
        </tbody>

      </table>

     
     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Role Type</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
             <form (ngSubmit)="handleSubmit()" [formGroup]="roleForm">
               <div class="mb-3">
                 <label for="exampleInputEmail1" class="form-label">Enter Role Name</label>
                 <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
                   <app-error-section
                   [formSubmitted]="formSubmitted"
                   inputProperty="role"
                   [inputObject]="this.roleForm.get('role')"
                 ></app-error-section>
               </div>
               <div class="mb-3">
                 <label for="exampleInputPassword1" class="form-label">Enter Role Description</label>
                 <input type="text" formControlName="description" class="form-control" id="exampleInputPassword1">
                 <app-error-section
                 [formSubmitted]="formSubmitted"
                 inputProperty="role"
                 [inputObject]="this.roleForm.get('role')"
               ></app-error-section>
               </div>


               
                <div class="mb-3">
                 <label for="exampleInputPassword1" class="form-label">Status</label>
                 <select class="form-select" formControlName="status">
                  <option>Active</option>
                     <option>Inactive</option>
                     
                 </select>
                 <app-error-section
                 [formSubmitted]="formSubmitted"
                 inputProperty="status"
                 [inputObject]="this.roleForm.get('status')"
               ></app-error-section>
               </div> 
             </form>
           </div>
           <div class="modal-footer">
             <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             <button [disabled]="modalBtn.loading" type="submit" [class]="modalBtn.classes">{{modalBtn.text}}</button>
            
           </div>
         </div>
       </div>
     </div>
     
    </section>
</main> 
