/*custom styles*/

.en-badge-success{
  background: #0070ff;
  color: white;
  padding: 2px 13px;
  border-radius: 10px;
}
.en-badge-warning{
  background: #0070ff;
  color: white;
  padding: 2px 13px;
  border-radius: 10px;
}
