<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> <a class="nav-link " routerLink="/dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>
      
      <!--Policy Mgt-->
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-layout-text-window-reverse"></i><span>Policy Administration</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/manage-farmer"> <i class="bi bi-circle"></i><span>Farmer Register</span> </a></li>
            <!-- <li> <a routerLink="/farmer"> <i class="bi bi-circle"></i><span>Self Farmer Registration</span> </a></li> -->
            <li> <a routerLink="/Quotation"> <i class="bi bi-circle"></i><span>Open Quotation</span> </a></li>
            <li> <a routerLink="/paid"> <i class="bi bi-circle"></i><span>Paid Quotation</span> </a></li>
            <li> <a routerLink="/insurance"> <i class="bi bi-circle"></i><span>Subsidy Approved Quotation</span> </a></li>
            <!-- <li> <a routerLink="/tables-data"> <i class="bi bi-circle"></i><span>Data Tables</span> </a></li> -->
         </ul>
      </li>      
      
      <!--Subsidy Settlement-->
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#subsidy-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-gem"></i><span>Subsidy Settlement</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="subsidy-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
         <li> <a routerLink="/invoice"> <i class="bi bi-circle"></i><span>Open Invoice</span> </a></li>
         <li> <a routerLink="/approved"> <i class="bi bi-circle"></i><span>Approved Invoice</span> </a></li>
         <li> <a routerLink="/pending"> <i class="bi bi-circle"></i><span>Pending Settlement</span> </a></li>
         <li> <a routerLink="/settled"> <i class="bi bi-circle"></i><span>Settled Invoice</span> </a></li>
         </ul>
       </li>
      
       <!--Claim Mgt-->
       <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#claim-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-gem"></i><span>Claim Management</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="claim-nav" class="nav-content collapse " data-bs-parent="#claim-nav">
         <li> <a routerLink="/claim"> <i class="bi bi-circle"></i><span>Open Claim</span> </a></li>
         <li> <a routerLink="/payment"> <i class="bi bi-circle"></i><span>Claim Pending Payment</span> </a></li>
         <li> <a routerLink="/peid"> <i class="bi bi-circle"></i><span>Paid Claim</span> </a></li>

         </ul>
       </li>

       <!--Product Mgt-->
       <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-gem"></i><span>Product Management</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/icons-bootstrap"> <i class="bi bi-circle"></i><span> Crops</span> </a></li>
            <li> <a routerLink="/icons-boxicons"> <i class="bi bi-circle"></i><span> Crop Varieties</span> </a></li>
            <li> <a routerLink="/manage-product"> <i class="bi bi-circle"></i><span> Product Categories </span> </a></li>
         <li> <a routerLink="/manage-product"> <i class="bi bi-circle"></i><span>Product  </span> </a></li>
         <li> <a routerLink="/manage-subsidy"> <i class="bi bi-circle"></i><span>Subsidy</span> </a></li>
         <li> <a routerLink="/assignloss"> <i class="bi bi-circle"></i><span>Insurance Loss Assessors</span> </a></li>
         </ul>
      </li>

      <!--weather-->
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#weather-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-journal-text"></i><span>Weather and Climate Information</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="weathe-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
           
            <li> <a routerLink="/data"> <i class="bi bi-circle"></i><span>Forcast Data</span> </a></li>
            <li> <a routerLink="/data"> <i class="bi bi-circle"></i><span>Historical Data</span> </a></li>
         </ul>
      </li>
      
      <!--aDVISORY-->
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#advise-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-bar-chart"></i><span>Advisory Services</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="advise-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            
           
         </ul>
      </li>


       <li class="nav-item">

          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-menu-button-wide"></i><span>Administration</span><i class="bi bi-chevron-down ms-auto"></i> </a>
          <!-- <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
             <li> <a routerLink="/alerts"> <i class="bi bi-circle"></i><span>Alerts</span> </a></li>
             <li> <a routerLink="/accordion"> <i class="bi bi-circle"></i><span>Accordion</span> </a></li>
             <li> <a routerLink="/badges"> <i class="bi bi-circle"></i><span>Badges</span> </a></li>
             <li> <a routerLink="/breadcrumbs"> <i class="bi bi-circle"></i><span>Breadcrumbs</span> </a></li>
             <li> <a routerLink="/buttons"> <i class="bi bi-circle"></i><span>Buttons</span> </a></li>
             <li> <a routerLink="/cards"> <i class="bi bi-circle"></i><span>Cards</span> </a></li>
             <li> <a routerLink="/carousel"> <i class="bi bi-circle"></i><span>Carousel</span> </a></li>
             <li> <a routerLink="/list-group"> <i class="bi bi-circle"></i><span>List group</span> </a></li>
             <li> <a routerLink="/modal"> <i class="bi bi-circle"></i><span>Modal</span> </a></li>
             <li> <a routerLink="/tabs"> <i class="bi bi-circle"></i><span>Tabs</span> </a></li>
             <li> <a routerLink="/pagination"> <i class="bi bi-circle"></i><span>Pagination</span> </a></li>
             <li> <a routerLink="/progress"> <i class="bi bi-circle"></i><span>Progress</span> </a></li>
             <li> <a routerLink="/spinners"> <i class="bi bi-circle"></i><span>Spinners</span> </a></li>
             <li> <a routerLink="/tooltips"> <i class="bi bi-circle"></i><span>Tooltips</span> </a></li>
          </ul> -->
          <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

            <li> <a routerLink="/accordion"> <i class="bi bi-circle"></i><span> Organization Type</span> </a></li>
            <li> <a routerLink="/organization"> <i class="bi bi-circle"></i><span>Organization</span> </a></li>
            <li> <a routerLink="/badges"> <i class="bi bi-circle"></i><span>Roles</span> </a></li>

             <li> <a routerLink="/form-elements"> <i class="bi bi-circle"></i><span>Users</span> </a></li>
             <li> <a routerLink="/charts-chartjs"> <i class="bi bi-circle"></i><span>Add Loss Assessors</span> </a></li>
           
          </ul>
       </li>
      
      

      

      <!-- <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#insurance-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-gem"></i><span>Manage Product Insurance</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="insurance-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
         <li> <a routerLink="/manage-insurance"> <i class="bi bi-circle"></i><span>Manage Product Insurance</span> </a></li>
         </ul>
       </li>


       <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#manage-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-gem"></i><span> Manage Products</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="manage-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
         
         </ul>
       </li>


       <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#subsidy-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-gem"></i><span>Manage Product Subsidy</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="product-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        
         </ul>
       </li> -->



       
       
       

     
    </ul>
 </aside>
