<main id="main" class="main">
    <div class="pagetitle">
       <h1>Manage Product Insurance</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Products Insurance</li>
             <ol class="breadcrumb-item active">Products Insurance</ol>
          </ol>
       </nav>
    </div>
    <section class="section">

       <nav class="navbar navbar-ligth ">
         <div class="container-fluid">

           <div class="flex-centered">
             <button  class="justify-content-end btn btn-success" type="button" data-bs-toggle="modal"
               data-bs-target="#exampleModal">Add New Product  Insurance</button>
           </div>
         </div>
       </nav>
        <!--search input-->
      <div class="d-flex justify-content-lg-between mt-2">
        <div class="search  ">
        <input class="form-control mt-2 mb-2 input-sm " type="text"  placeholder="Search by name" />
        </div>
        <button  class="btn btn-success btn-lg"  type="button">Export</button>
       </div>

       <table class="table table-bordered table-striped table-hover mt-3 w-100">
         <thead>
           <tr>
            <th scope="col">Product ID</th>
             <th scope="col">Enter  Season Name</th>
             <th scope="col">Organization</th>
             <th scope="col">Product Category</th>
             <th scope="col">Farm Category</th>
             <th scope="col">Average Premium Rate</th>
             <th scope="col">Crop</th>
             <th scope="col">Crop Varieties</th>
             <th scope="col">Season date Start</th>
             <th scope="col">Season date End</th>
             <th scope="col">Window date Start</th>
             <th scope="col">Window date Start</th>
             <th scope="col">Loading Name</th>
             <th scope="col">Organization Loading</th>
             <th scope="col">Select Type(%/Fixed)</th>
             <th scope="col">Paremeter Name</th>
             <th scope="col">Upload File</th>
             <th scope="col">Action</th>


           </tr>
         </thead>
         <tbody>
           <tr >
            <td>1</td>
             <td>July</td>
             <td>TECH</td>
             <td>MaiZE</td>
             <td>1 acres</td>
             <td>34c</td>
             <td>Maize</td>
             <td>Maizebread</td>
             <td>1/2/34</td>
             <td>4/9/34</td>
             <td>Fer</td>
             <td>Sept</td>
             <td>Loading</td>
             <td>Organization</td>
             <td>Fixed</td>
             <td>Paremeter</td>
             <td>File</td>

             <td>
               <button  style="color: aliceblue;" type="button" data-bs-toggle="modal"
                 data-bs-target="#exampleModal"  class="btn btn-warning btn-sm">Edit</button>
               <!-- <button  class="btn btn-danger">View</button> -->
             </td>
           </tr>
         </tbody>

       </table>

       <!-- Modal -->
       <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg">
           <div class="modal-content w-100">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Manage Product Insurance</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body w-100">
               <form [formGroup]="formValue">
                <div class="row align-items-start ">
                 <div class="col mb-3">
                   <label  class="form-label">Enter  Season Name</label>
                   <input type="text" formControlName="name" class="form-control"
                     aria-describedby="emailHelp">
                 </div>
                 <div class="col mb-3">
                    <label  class="form-label">Select Organization</label>
                    <select class="form-select">
                        <option>Insurance Company</option>
                        <option>Default select</option>
                      </select>
                 </div>
                </div>

                <div class="row align-items-start">
                 <div class="col mb-3">
                    <label  class="form-label">Select Product Catagory</label>
                    <select class="form-select">
                        <option>Insurance Company</option>
                        <option>Default select</option>
                      </select>
                 </div>
                 <div class="col mb-3">
                    <label class="form-label">Select Farmer Category</label>
                    <select class="form-select">
                        <option>On</option>
                        <option>Off</option>
                      </select>
                 </div>
                </div>

                <div class="row align-items-start">
                 <div class="col mb-3">
                    <label  class="form-label">Select Average Rate</label>
                    <select class="form-select">
                        <option>Insurance Company</option>
                        <option>Default select</option>
                      </select>
                 </div>
                 <div class="col mb-3">
                    <label  class="form-label">Select Crops </label>
                    <select class="form-select">
                        <option>Insurance Company</option>
                        <option>Default select</option>
                      </select>
                 </div>

                 </div>


                 <div class="mb-3">
                    <label  class="form-label">Select Crop Varieties</label>
                    <select class="form-select">
                        <option>Insurance Company</option>
                        <option>Default select</option>
                      </select>
                 </div>

                 <div class="row align-items-start">
                 <div class="col mb-3">
                    <label  class="form-label">Season Start Date</label>
                    <input class="date form-control"  type="date">
                 </div>
                 <div class="col mb-3">
                    <label  class="form-label">Season End Date</label>
                    <input class="date form-control"  type="date">
                 </div>
                 </div>

                 <div class="row align-items-start">
                 <div class="col mb-3">
                    <label class="form-label">Window Start Date</label>
                    <input class="date form-control"  type="date">
                 </div>
                 <div class="col mb-3">
                    <label  class="form-label">Window End Date</label>
                    <input class="date form-control"  type="date">
                 </div>
                 </div>

                 <h3>Loading</h3>
                 <div class="row align-items-start">
                 <div class="col mb-3">
                    <label  class="form-label">Enter Loading Name</label>
                    <input type="text" formControlName="name" class="form-control"
                      aria-describedby="emailHelp">

                  </div>

                  <div class="col mb-3">
                    <label  class="form-label">Select Organization the Loading applies for</label>
                    <select class="form-select">
                        <option>Insurance Company</option>
                        <option>Default select</option>
                      </select>
                 </div>
                 </div>

                 <div class="row align-items-start">
                 <div class="col mb-3">
                    <label  class="form-label">Select Type(%/Fixed)</label>
                    <select class="form-select">
                        <option>Insurance Company</option>
                        <option>Default select</option>
                      </select>
                 </div>
                  <div class="col mb-3">
                    <label  class="form-label">Paremeter Name</label>
                    <input type="text" formControlName="name" class="form-control"
                      aria-describedby="emailHelp">
                  </div>
                </div>

                  <div class="mb-3">
                    <label  class="form-label">Upload</label>
                    <input type="file" formControlName="name" class="form-control"
                      aria-describedby="emailHelp">
                  </div>

               </form>
             </div>
             <div class="modal-footer">
               <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               <button type="button"  class="btn btn-primary">Save</button>
               <!-- <button type="button"
                 class="btn btn-primary">Update</button> -->
             </div>
           </div>
         </div>
       </div>

      </section>
  </main>


