

 <main id="main" class="main">
  <div class="pagetitle">
     <h1>Manage Farmer</h1>
     <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
           <li class="breadcrumb-item">Dashboard</li>
           <li class="breadcrumb-item active">Manage Farmer</li>
        </ol>
     </nav>
  </div>
  <section class="section">
    
     <nav class="navbar navbar-ligth ">
       <div class="container">
         <div class="d-flex">
           <button  class="btn btn-success" type="button" (click)="clickAddEmployee()" data-bs-toggle="modal"
             data-bs-target="#exampleModal">Add New Farmer</button>
         </div>
       </div>
     </nav>
     
     <table class="table mt-3">
       <thead>
         <tr>
          <th scope="col">Organisation ID</th>
           <th scope="col">First Name</th>
           <th scope="col">Last Name</th>
           <th scope="col">Phone Numbers</th>
           <th scope="col">Email Address</th>
           <th scope="col">ID NUMBER</th>
           <th scope="col">Physical Address</th>
           <th scope="col">Farmer Category</th>
           <th scope="col">Date of Registration</th>

           <!-- <th scope="col">Location Province</th> -->
           <th scope="col">Farm Name</th>
           <th scope="col">Farm Size</th>
           <th scope="col">UPI NO.</th>


           <th scope="col">Bank Name</th>
           <th scope="col">Account Number</th>
           <!-- <th scope="col">Account Name</th> -->

           <th scope="col">First Name</th>
           <th scope="col">Last Name</th>
           <th scope="col">ID Number</th>
           <th scope="col">Phone Numberz</th>
           <th scope="col">Email Addres</th>
           <th scope="col">Relationship</th>

           <th scope="col">Action</th>

         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let column of farmerData" >
          <td>{{column.id}}</td>
           <td>{{column.firstName}}</td>
           <td>{{column.lastName}}</td>
           <td>{{column.phoneNumber}}</td>
           <td>{{column.emailAddress}}</td>
           <td>{{column.idNumber}}</td>
           <td>{{column.physicalAddress}}</td>
           <td>{{column.category}}</td>
           <td>{{column.date}}</td>


           <td>{{column.farmName}}</td>
           <td>{{column.farmSize}}</td>
           <td>{{column.upi}}</td>

           <!-- <td>Nairobi</td> -->
           <td>{{column.bankName}}</td>
           <td>{{column.accountNumber}}</td>
           <td>{{column.firstName}}</td>

           <td>{{column.lastName}}</td>
           <td>{{column.idNumber}}</td>
           <td>{{column.phoneNumber}}</td>
           <td>{{column.emailAddress}}</td>
           <td>{{column.relationship}}</td>
           <!-- <td>Email@gmail.com</td>
           <td>Mother</td>
            -->
            <td>
              <button  style="color: aliceblue;" type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModal" (click)="onEdit(column)" class="btn btn-info">Edit</button>
              <button  class="btn btn-danger mx-3">Delete</button>
            </td>
         </tr>
       </tbody>
     
     </table>
     
     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog modal-lg">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Manage Farmer</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
             <form [formGroup]="formValue">
              <div class="row">
               <div class="col mb-3">
                 <label for="exampleInputEmail1" class="form-label">First Name</label>
                 <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
               </div>
               <div class="col mb-3">
                <label for="exampleInputEmail1" class="form-label">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
            </div>
                
            <div class="row">
              <div class="col mb-3">
                <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                <input type="number" formControlName="phoneNumber" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="col mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Email Address</label>
                <input type="email" formControlName="emailAddress" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <label for="exampleInputEmail1" class="form-label">ID NUMBER</label>
                <input type="number" formControlName="idNumber" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
        
              <div class="col mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Physical Address</label>
                <input type="email" formControlName="physicalAddress" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Farmer Catagory</label>
                <input type="text" formControlName="category" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="col mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Date of Registration</label>
                <input type="date" formControlName="date" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
             </div>
              <h2>Farm Section</h2>
               <div class="row">
              <div class="col mb-3">
                <label for="exampleInputPassword1" class="form-label">Select Location Province</label>
                <select class="form-control">
                    <option>District</option>
                    <option>Sector</option>
                  </select>
             </div> 
            
           
             
              <div class="col mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Farm Name</label>
                <input type="text" formControlName="farmName" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Farm Size</label>
                <input type="number" formControlName="farmSize" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              
            
              <div class="col mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter UPI NO.</label>
                <input type="number" formControlName="upi" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
            </div>

              <h1>Bank Details</h1>
              <div class="row">
              <div class="col mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Bank Name</label>
                <input type="text" formControlName="bankName" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="col mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Account Number</label>
                <input type="number" formControlName="accountNumber" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              </div>
           
             
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Account Address</label>
                <input type="email" formControlName="accountAddress" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>

              <h4>Next of Kin</h4>
                   <div class="row">
              <div class="col mb-3">
                <label for="exampleInputEmail1" class="form-label">First Name</label>
                <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="col mb-3">
               <label for="exampleInputEmail1" class="form-label">Last Name</label>
               <input type="text" formControlName="lastName" class="form-control" id="exampleInputEmail1"
                 aria-describedby="emailHelp">
             </div>
            </div>
            <div class="row">
             <div class="col mb-3">
               <label for="exampleInputEmail1" class="form-label">Phone Number</label>
               <input type="number" formControlName="phoneNumber" class="form-control" id="exampleInputEmail1"
                 aria-describedby="emailHelp">
             </div>
             <div class="col mb-3">
               <label for="exampleInputEmail1" class="form-label">Enter Email Address</label>
               <input type="email" formControlName="emailAddress" class="form-control" id="exampleInputEmail1"
                 aria-describedby="emailHelp">
             </div>
            </div>
            <div class="row">
             <div class="col mb-3">
               <label for="exampleInputEmail1" class="form-label">ID NUMBER</label>
               <input type="number" formControlName="id" class="form-control" id="exampleInputEmail1"
                 aria-describedby="emailHelp">
             </div>
             <div class="col mb-3">
              <label for="exampleInputEmail1" class="form-label">Enter Relationship</label>
              <input type="text" formControlName="relationship" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
            </div>
          </div>
              
             </form>
           </div>
           <div class="modal-footer">
             <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
             <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()"
               class="btn btn-primary">Update</button>
           </div>
         </div>
       </div>
     </div>
     
    </section>
</main>