

 <main id="main" class="main">
  <div class="pagetitle">
     <h1>Manage Farmer</h1>
     <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
           <li class="breadcrumb-item">Dashboard</li>
           <li class="breadcrumb-item active">Manage Farmer</li>
        </ol>
     </nav>
  </div>
  <section class="section">
    
     <nav class="navbar navbar-ligth ">
       <div class="container">
         <div class="d-flex">
           <button  class="btn btn-success" type="button" data-bs-toggle="modal"
             data-bs-target="#exampleModal">Add New Farmer</button>
         </div>
       </div>
     </nav>
     
     <table class="table mt-3">
       <thead>
         <tr>
          <th scope="col">Organization ID</th>
           <th scope="col">First Name</th>
           <th scope="col">Last Name</th>
           <th scope="col">Phone Numbers</th>
           <th scope="col">Email Address</th>
           <th scope="col">ID NUMBER</th>
           <th scope="col">Physical Address</th>
           <th scope="col">Farmer Category</th>
           <th scope="col">Date of Registration</th>

           <th scope="col">Location Province</th>
           <th scope="col">Farm Name</th>
           <th scope="col">Farm Size</th>
           <th scope="col">UPI NO.</th>


           <th scope="col">Bank Name</th>
           <th scope="col">Account Number</th>
           <th scope="col">Account Name</th>

           <th scope="col">First Name</th>
           <th scope="col">Last Name</th>
           <th scope="col">ID Number</th>
           <th scope="col">Phone Numberz</th>
           <th scope="col">Email Addres</th>
           <th scope="col">Relationship</th>

           <th scope="col">Action</th>


           
           
           
           
           
         </tr>
       </thead>
       <tbody>
         <tr >
          <td>1</td>
           <td>Peter</td>
           <td>OOjoh</td>
           <td>234567799</td>
           <td>Email@gmail.</td>
           <td>E456</td>
           <td>physical@gmail.com</td>
           <td>Mix Farming</td>
           <td>12/3/2022</td>


           <td>Co-op</td>
           <td>S122336677</td>
           <td>Peter OOjoh</td>

           <td>Nairobi</td>
           <td>Bean</td>
           <td>2acres</td>
           <td>es234DFG</td>

           <td>Ojera</td>
           <td>MakeGG</td>
           <td>234567</td>
           <td>+2547777</td>
           <td>Email@gmail.com</td>
           <td>Mother</td>
           
           <td>
             <button  style="color: aliceblue;" type="button" data-bs-toggle="modal"
               data-bs-target="#exampleModal" class="btn btn-info">Edit</button> <br>
               <button class="btn btn-danger">View</button>
            
           </td>
         </tr>
       </tbody>
     
     </table>
     
     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Manage Farmer</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
             <form [formGroup]="formValue">
               <div class="mb-3">
                 <label for="exampleInputEmail1" class="form-label">First Name</label>
                 <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
               </div>
               <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                <input type="number" formControlName="phoneNumber" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Email Address</label>
                <input type="email" formControlName="emailAddress" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">ID NUMBER</label>
                <input type="number" formControlName="id" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
        
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Physical Address</label>
                <input type="email" formControlName="physicalAddress" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Farmer Catagory</label>
                <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Date of Registration</label>
                <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>

              <h2>Farm Section</h2>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Select Location Province</label>
                <select class="form-control">
                    <option>District</option>
                    <option>Sector</option>
                  </select>
             </div> 
            
           

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Farm Name</label>
                <input type="text" formControlName="FarmName" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Farm Size</label>
                <input type="number" formControlName="farmSize" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter UPI NO.</label>
                <input type="number" formControlName="farmSize" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>


              <h1>Bank Details</h1>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Bank Name</label>
                <input type="text" formControlName="bankName" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Account Number</label>
                <input type="number" formControlName="phoneNumber" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Account Address</label>
                <input type="text" formControlName="accountAddress" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>

              <h4>Next of Kin</h4>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">First Name</label>
                <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
               <label for="exampleInputEmail1" class="form-label">Last Name</label>
               <input type="text" formControlName="lastName" class="form-control" id="exampleInputEmail1"
                 aria-describedby="emailHelp">
             </div>
             <div class="mb-3">
               <label for="exampleInputEmail1" class="form-label">Phone Number</label>
               <input type="number" formControlName="phoneNumber" class="form-control" id="exampleInputEmail1"
                 aria-describedby="emailHelp">
             </div>
             <div class="mb-3">
               <label for="exampleInputEmail1" class="form-label">Enter Email Address</label>
               <input type="email" formControlName="emailAddress" class="form-control" id="exampleInputEmail1"
                 aria-describedby="emailHelp">
             </div>
             <div class="mb-3">
               <label for="exampleInputEmail1" class="form-label">ID NUMBER</label>
               <input type="number" formControlName="id" class="form-control" id="exampleInputEmail1"
                 aria-describedby="emailHelp">
             </div>
             <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Enter Relationship</label>
              <input type="text" formControlName="relationship" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
            </div>
       
              
             </form>
           </div>
           <div class="modal-footer">
             <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             <button type="button"  class="btn btn-primary">Add</button>
             <button type="button" 
               class="btn btn-primary">Update</button>
           </div>
         </div>
       </div>
     </div>
     
    </section>
</main>