<main id="main" class="main">
    <div class="pagetitle">
       <h1>Forecast Data</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Dashboard</li>
             <ol class="breadcrumb-item active">Forecast Data</ol>
          </ol>
       </nav>
    </div>
    <section class="section">

       <nav class="navbar navbar-ligth">
         <div class="container-fluid">

           <div class="flex-centered">
             <!-- <button  class="btn btn-success"  type="button" data-bs-toggle="modal"
               data-bs-target="#exampleModal">Add forecast Data</button> -->
           </div>
         </div>
       </nav>
       <!--search input-->
       <div class="d-flex justify-content-lg-between mt-2">
        <div class="search  ">
        <input class="form-control mt-2 mb-2 input-sm " type="text"  placeholder="Search by name" />
        </div>
        <button  class="btn btn-success btn-lg"  type="button">Export</button>
       </div>

       <table class="table table-bordered table-striped table-hover mt-3 w-100">
         <thead>
           <tr>
            <!-- <th scope="col">Organization ID</th> -->
             <th scope="col">Date Time Added</th>
             <th scope="col">Start Date</th>
             <th scope="col">End Date</th>
             <th scope="col">Forecast</th>
             <!-- <th scope="col">Action</th> -->

           </tr>
         </thead>
         <tbody>
           <tr >
            <td>Time</td>
             <td>Start</td>
             <td>End</td>
             <td>forecast</td>

             <!-- <td>
               <button  style="color: aliceblue;" type="button" data-bs-toggle="modal"
                 data-bs-target="#exampleModal"   class="btn btn-warning btn-sm">Edit</button>

             </td> -->
           </tr>
         </tbody>

       </table>

       <!-- Modal -->
       <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <h5>Add forecast Data</h5>
               <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
               <form [formGroup]="formValue">

                  <div class="mb-3">
                   <label for="exampleInputPassword1" class="form-label">Date Time Added</label>
                   <input type="datetime" formControlName="email" class="form-control" id="exampleInputPassword1">
                 </div>

                  <div class="mb-3">
                   <label for="exampleInputPassword1" class="form-label">Start Date</label>
                   <input type="date" formControlName="email" class="form-control" id="exampleInputPassword1">
                 </div>

                  <div class="mb-3">
                   <label for="exampleInputPassword1" class="form-label">End Date</label>
                   <input type="date" formControlName="email" class="form-control" id="exampleInputPassword1">
                 </div>


                 <div class="mb-3">
                   <label for="exampleInputPassword1" class="form-label">Forecast Status</label>
                   <select class="form-select" formControlName="assessor">
                     <option>Forecast</option>
                     <!-- <option>Blacklisted</option>
                     <option>Disable</option> -->
                     </select>
                     <app-error-section></app-error-section>
                </div>
                 <!-- <div class="mb-3">
                   <label for="exampleInputPassword1" class="form-label">Status</label>
                   <input type="text" formControlName="email" class="form-control" id="exampleInputPassword1">
                 </div> -->
               </form>
             </div>
             <div class="modal-footer">
               <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               <button type="button"  class="btn btn-primary">Save</button>
               <!-- <button type="button" class="btn btn-primary">Update</button> -->
             </div>
           </div>
         </div>
       </div>

      </section>
  </main>

