<main id="main" class="main">
    <div class="pagetitle">
       <h1>Manage Organization</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Organization</li>
             <li class="breadcrumb-item active">Organization</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       

       <nav class="navbar navbar-ligth ">
         <div class="container-fluid">
           <h1 style="color: aliceblue;">Add New Organization Type</h1>
           <div class="d-flex">
             <button  (click)="clickAddEmployee()" class="btn btn-success" type="button" data-bs-toggle="modal"
               data-bs-target="#exampleModal">Add New Organization Type</button>
           </div>
         </div>
       </nav>
       
       <table class="table mt-3">
         <thead>
           <tr>
            <th scope="col">Organization ID</th>
             <th scope="col">Organization Type Name</th>
             <th scope="col">Description</th>
              <th scope="col">Status</th> 
             <th scope="col">Action</th>
             
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let row of organizationData" >
            <td>{{row.id}}</td>
             <td>{{row.name}}</td>
             <td>{{row.description}}</td>
             <td>{{row.status}}</td>
             
             <td>
               <button  style="color: aliceblue;" type="button" data-bs-toggle="modal"
                 data-bs-target="#exampleModal" (click)="onEdit(row)" class="btn btn-info">Edit</button>
               <button  class="btn btn-danger mx-3">Delete</button>
             </td>
           </tr>
         </tbody>
       
       </table>
       
       <!-- Modal -->
       <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Organization Type</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
               <form [formGroup]="formValue">
                 <div class="mb-3">
                   <label for="exampleInputEmail1" class="form-label">Enter Organization Type Name</label>
                   <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1"
                     aria-describedby="emailHelp">
       
                 </div>
                 <div class="mb-3">
                   <label for="exampleInputPassword1" class="form-label">Enter Description</label>
                   <input type="text" formControlName="description" class="form-control" id="exampleInputPassword1">
                 </div>
                 <!-- <div class="mb-3">
                   <label for="exampleInputPassword1" class="form-label">Status</label>
                   <input type="text" formControlName="email" class="form-control" id="exampleInputPassword1">
                 </div> -->
                 <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Status </label>
                  <select class="form-control" formControlName="status">
                    <option>Active</option>
                     <option>Inactive</option>
                   
                    </select>
                  </div> 
               </form>
             </div>
             <div class="modal-footer">
               <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
               <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()"
                 class="btn btn-primary">Update</button>
             </div>
           </div>
         </div>
       </div>
       
      </section> 
 </main> 