<main id="main" class="main">
  <div class="pagetitle">
    <h1>Manage Organization Types</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Dashboard</li>
        <ol class="breadcrumb-item active">Manage Organization Types</ol>
      </ol>
    </nav>
  </div>
  <section class="section">

    <nav class="navbar navbar-ligth">
      <div class="container-fluid">
        <div class="text-right flex-right">
          <button
            (click)="showModal()"
            class="justify-content-end btn btn-success" type="button" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Add New Organization Type</button>
          <button
            (click)="getOrganizationTypes()"
            class="justify-content-end btn btn-primary" type="button">Refresh Organization Types</button>
        </div>
      </div>
    </nav>
    <table class="table mt-3">
      <thead>
      <tr>
        <th *ngFor="let col of dataTable.columns" scope="col" [class]="col.classes">{{col.label}}</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="organizationTypes.loading">
        <td colspan="3">
          <div class="text-center">
            <p>Loading Organization types...</p>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
        </td>
      </tr>
      <tr *ngIf="organizationTypes.data.length  === 0 && !organizationTypes.loading" >
        <td colspan="3">
          <div class="text-center">
            <p>No organization types found</p>
          </div>
        </td>
      </tr>
      <tr *ngFor="let dt of organizationTypes.data">
        <td>{{dt.organisation_type}}</td>
        <td class="text-center" >
          <div>
            <span class="en-badge-success">{{dt.organisation_type_status}}</span>
          </div>
        </td>
        <td>
          <div class="flex-centered">
            <button
              (click)="showModal(dt)"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              class="btn btn-warning btn-sm">Edit</button>
          </div>

        </td>
      </tr>
      </tbody>

    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{modalMode.label}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form (ngSubmit)="handleSubmit()" [formGroup]="organizationTypeForm" >
            <div class="modal-body">
              <div class="mb-3">
                <label class="form-label">Enter  Organization Type Name</label>
                <input type="text" formControlName="organization_type" class="form-control">
                <app-error-section
                  [formSubmitted]="formSubmitted"
                  inputProperty="organization_type_name"
                  [inputObject]="this.organizationTypeForm.get('organization_type')"
                ></app-error-section>
              </div>
              <div class="mb-3">
                <label class="form-label">Status</label>
                <select class="form-control" formControlName="status" [value]="this.organizationTypeForm.get('status')!.value">
                  <option [value]="'ACTIVE'" selected>Active</option>
                </select>
                <app-error-section
                  [formSubmitted]="formSubmitted"
                  inputProperty="status"
                  [inputObject]="this.organizationTypeForm.get('status')"
                ></app-error-section>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button [disabled]="modalBtn.loading" type="submit" [class]="modalBtn.classes">{{modalBtn.text}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>

