<main id="main" class="main">
   <div class="pagetitle">
      <h1>Manage Organization</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active">Manage Organization</li>
         </ol>
      </nav>
   </div>
   <section class="section">
     
      <nav class="navbar navbar-ligth ">
        <div class="container">
          <div class="d-flex">
            <button  class="btn btn-success" type="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Add New Organization </button>
          </div>
        </div>
      </nav>
      
      <table class="table mt-3">
        <thead>
          <tr>
           <th scope="col">Organization ID</th>
            <th scope="col">Organization Type</th>
            <th scope="col">Organization Name</th>
            <th scope="col">Main office</th>
            <th scope="col">Official Email</th>
            <th scope="col">Email Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Upload logo(file)</th>
            <th scope="col">Upload Registration Certificate(file)</th>
            <th scope="col">Upload Practice License(file)</th>
            <th scope="col">First Name</th>
            <th scope="col">Second Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email Address</th>
            <th scope="col">Title in the Organization</th>
            
            
          </tr>
        </thead>
        <tbody>
          <tr >
           <td>1</td>
            <td>Farm</td>
            <td>Coding</td>
            <td>MainOffice</td>
            <td>Email@gmail.</td>
            <td>official@email.com</td>
            <td>12233345</td>
            <td>PDF.Logo</td>
            <td>PDF.register</td>
            <td>PracticeLicense</td>
            <td>John </td>
            <td>Doe</td>
            <td>Smith</td>
            <td>John.Doe@Smith</td>
            <td>Title</td>

            
            <td>
              <button  style="color: aliceblue;" type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
              <!-- <button  class="btn btn-danger">Delete</button> -->
            </td>
          </tr>
        </tbody>
      
      </table>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Organization Type</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Enter Organization Type</label>
                  <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                 <label for="exampleInputEmail1" class="form-label">Enter Organization Name</label>
                 <input type="text" formControlName="organizationName" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
               </div>
               <div class="mb-3">
                 <label for="exampleInputEmail1" class="form-label">Enter main office address</label>
                 <input type="email" formControlName="mainOffice" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
               </div>
               <div class="mb-3">
                 <label for="exampleInputEmail1" class="form-label">Enter Email Address</label>
                 <input type="email" formControlName="emailAddress" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
               </div>
               <div class="mb-3">
                 <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                 <input type="number" formControlName="phoneNumber" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
               </div>
               <h2>Organization Registration</h2>

               <div class="input-group mb-3">
                 <div class="input-group-prepend">
                   <span class="input-group-text">Upload Logo</span>
                 </div>
                 <div class="custom-file">
                   <input type="file" class="custom-file-input" formControlName="uploadLogo"  id="inputGroupFile01">
                   <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                 </div>
               </div>

               <div class="input-group mb-3">
                 <div class="input-group-prepend">
                   <span class="input-group-text">Upload Registration Certificate</span>
                 </div>
                 <div class="custom-file">
                   <input type="file" class="custom-file-input" formControlName="uploadRegistration" id="inputGroupFile01">
                   <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                 </div>
               </div>

               <div class="input-group mb-3">
                 <div class="input-group-prepend">
                   <span class="input-group-text">Upload Practice License</span>
                 </div>
                 <div class="custom-file">
                   <input type="file" class="custom-file-input" formControlName="uploadPractice" id="inputGroupFile01">
                   <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                 </div>
               </div>
               <h3>Contact Practice Information</h3>

                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">First Name</label>
                  <input type="text" formControlName="firstName" class="form-control" id="exampleInputPassword1">
                </div>
                 <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Second Name</label>
                  <input type="text" formControlName="secondName" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                 <label for="exampleInputPassword1" class="form-label">Last Name</label>
                 <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1">
               </div>

               <div class="mb-3">
                 <label for="exampleInputPassword1" class="form-label">Phone Number</label>
                 <input type="number" formControlName="phoneNumber" class="form-control" id="exampleInputPassword1">
               </div>

               <div class="mb-3">
                 <label for="exampleInputPassword1" class="form-label">Email Address</label>
                 <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1">
               </div>

               <div class="mb-3">
                 <label for="exampleInputPassword1" class="form-label">Title in the Organization</label>
                 <input type="text" formControlName="title" class="form-control" id="exampleInputPassword1">
               </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button"  class="btn btn-primary">Add</button>
              <button type="button" 
                class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
      </div>
      
     </section>
</main>