<main id="main" class="main">
   <div class="pagetitle">
      <h1>Manage Organisation</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active">Manage Organisation</li>
         </ol>
      </nav>
   </div>
   <section class="section">
     
      <nav class="navbar navbar-ligth ">
        <div class="container">
          <div class="d-flex">
            <button  class="btn btn-success" (click)="clickAddEmployee()" type="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Add New Organisation </button>
          </div>
        </div>
      </nav>
      
      <table class="table mt-3">
        <thead>
          <tr>
           <th scope="col">Organisation ID</th>
            <th scope="col">Organisation Type</th>
            <th scope="col">Organisation Name</th>
            <th scope="col">Main office</th>
            <th scope="col">Official Email</th>
            <th scope="col">Physical Email Address</th>
            <th scope="col">Email Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Upload logo(file)</th>
            <th scope="col">Upload Registration Certificate(file)</th>
            <th scope="col">Upload Practice License(file)</th>
            <th scope="col">First Name</th>
            <th scope="col">Second Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email Address</th>
            <th scope="col">Title in the Organization</th>
            <th scope="col">Action</th>
            
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of manageData">
           <td>{{row.id}}</td>
            <td>{{row.name}}</td>
            <td>{{row.organisationName}}</td>
            <td>{{row.mainOffice}}</td>
            
            <td>{{row.officialAddress}}</td>
            <td>{{row.physicalAddress}}</td>
            <td>{{row.email}}</td>
            <td>{{row.phoneNumber}}</td>
            <td>{{row.uploadLogo}}</td>
            <td>{{row.uploadRegistration}}</td>
            <td>{{row.uploadPractice}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.secondName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.email}}</td>
            <td>{{row.title}}</td>

            
            <td>
              <button  style="color: aliceblue;" type="button" data-bs-toggle="modal"
                data-bs-target="#exampleModal" (click)="onEdit(row)" class="btn btn-info">Edit</button>
              <!-- <button  class="btn btn-danger">Delete</button> -->
            </td>
          </tr>
        </tbody>
      
      </table>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Organisation Type</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row align-items-start">
              <form [formGroup]="formValue">
                <div class="container text-center">
                  <div class="row align-items-start">
                <div class="col">
                  <label for="exampleInputEmail1" class="form-label">Select Organisation </label>
                  <!-- <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp"> -->
                    <select class="form-control" formControlName="name">
                      <option>maize</option>
                    </select>
                </div>
                <div class="col ">
                 <label for="exampleInputEmail1" class="form-label"> Organisation Name</label>
                 <input type="text" formControlName="organisationName" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
               </div>
               <div class="col">
                 <label for="exampleInputEmail1" class="form-label">Enter main office address</label>
                 <input type="email" formControlName="mainOffice" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
               </div>

               <div class="row align-items-start">
               <div class="col mb-3">
                 <label for="exampleInputEmail1" class="form-label">Enter Email Address</label>
                 <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
               </div>
               <div class="col mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Physical Address</label>
                <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              </div>
               <div class="col mb-3">
                 <label for="exampleInputEmail1" class="form-label">Enter Phone Number</label>
                 <input type="number" formControlName="phoneNumber" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
               </div>
              </div>

               <h2>Organization Registration</h2>
               <div class="row align-items-start">
               <div class="input-group mb-3">
                 <div class="input-group-prepend">
                   <span class="input-group-text">Upload Logo</span>
                 </div>
                 <div class="custom-file">
                   <input type="file" class="custom-file-input" formControlName="uploadLogo"  id="inputGroupFile01">
                   
                 </div>
               </div>

               <div class="input-group mb-3">
                 <div class="input-group-prepend">
                   <span class="input-group-text">Upload Registration Certificate</span>
                 </div>
                 <div class="custom-file">
                   <input type="file" class="custom-file-input" formControlName="uploadRegistration" id="inputGroupFile01">
                   
                 </div>
               </div>

               <div class="input-group mb-3">
                 <div class="input-group-prepend">
                   <span class="input-group-text">Upload Practice License</span>
                 </div>
                 <div class="custom-file">
                   <input type="file" class="custom-file-input" formControlName="uploadPractice" id="inputGroupFile01">
                  
                 </div>
               </div>
               </div>
               <h3>Contact Practice Information</h3>
               <div class="row align-items-start">
                <div class="col mb-3">
                  <label for="exampleInputPassword1" class="form-label">First Name</label>
                  <input type="text" formControlName="firstName" class="form-control" id="exampleInputPassword1">
                </div>
                 <div class="col mb-3">
                  <label for="exampleInputPassword1" class="form-label">Second Name</label>
                  <input type="text" formControlName="secondName" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="col mb-3">
                 <label for="exampleInputPassword1" class="form-label">Last Name</label>
                 <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1">
               </div>

               </div>
               <div class="row align-items-start">
               <div class="col mb-3">
                 <label for="exampleInputPassword1" class="form-label">Enter Phone Number</label>
                 <input type="number" formControlName="phoneNumber" class="form-control" id="exampleInputPassword1">
               </div>

               <div class="col mb-3">
                 <label for="exampleInputPassword1" class="form-label">Enter Email Address</label>
                 <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1">
               </div>

               <div class="col mb-3">
                 <label for="exampleInputPassword1" class="form-label"> Organisation Title</label>
                 <input type="text" formControlName="title" class="form-control" id="exampleInputPassword1">
               </div>
              </div>

               </div>
               </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()"  class="btn btn-primary">Add</button>
              <button type="button"  *ngIf="showUpdate" (click)="updateEmployeeDetails()"
                class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
      </div>
      
     </section>
</main>